
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}
body{
	font-family: Roboto-Regular;
}
section {
    padding: 60px 0px;
}
/*.section-heading {
    font-size: 2.2rem;
    position:relative;
    display:inline-block;
}*/
/*.section-heading:after {
    content:'';
    position:absolute;
    left:0;right:0;
    top:100%;
    margin: 10px auto;
    width:50%;
    height:6px;
    background:#00f;
}*/

.who-we-are{
	color: white;
	position: relative;
	z-index: 9;
}
.who-we-are:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);*/
    background-color: rgba( 0, 0, 0, 0.9);
    opacity: 0.7;
}
.para {
    z-index: 9;
    position: relative;
}
.who-btn{
	background: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 0;
}
.who-we-are .section-heading{
	color: white;
}
.section-heading {
  line-height: 1.5em;
  font-size: 2.2rem;
  color: black;
  position: relative;
}
.section-heading p {
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 1rem;
}
.section-heading:after{
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100px;
    border: 2px solid #E81A25;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    transform: translateX(-50%);
}


nav.navbar.fixed-top.nav-bg{
	/*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: #111;
	margin-top: 7%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.5rem 2.7rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #e81a25;
    background-color: transparent;
}
.nav-tab-headinf a {
    color: #686767;
    font-size: 1.2rem;
    }

.btn-red{
	background-color: #e91a25;
}
.logo{
	background-color: #fff;
}
/* Tabs */


.Laadlis .col-center {
    margin: 0 auto;
    float: none !important;
}
/*.Laadlis .carousel {
    margin: 50px auto;
    padding: 0 70px;
}*/
.Laadlis .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 130px;
    height: auto;
}
.Laadlis .carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.Laadlis .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.Laadlis .carousel .testimonial {
    padding: 30px 0 10px;
}
.Laadlis .carousel .overview {   
    font-style: italic;
}
.Laadlis .carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.Laadlis .carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.Laadlis .carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.Laadlis .carousel .carousel-indicators {
    bottom: -40px;
}
.Laadlis .carousel-indicators li, .Laadlis .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}
.Laadlis .carousel-indicators li {   
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.Laadlis .carousel-indicators li.active {    
    background: #555;       
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.Laadlis .event-heading, .text p {
    font-size: 1.3rem;
    font-family: Roboto-Medium;
}
.Laadlis .text p{
    color: #3d3d3d;
    font-family: Roboto-Regular;
}
.Laadlis .text span{
    color: #e81a25;
    font-family: Roboto-Regular;
}
.Laadlis .frame {
    /*height: 100px;*/
    border: 1px solid #ccc;
}
.Laadlis .frame img {
     max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* Who we are */

.who-we-are{
	background: url(../images/larm-rmah-216854-unsplash.jpg) no-repeat center center /cover;
}

/* Zoom*/
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.zoom img, .zoom video {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.zoom:hover img, .zoom:hover video {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .section-blog-fw .view img, .video-fluid {
    max-width: 100%;
    height: auto;
}
.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.rgba-red-strong, .rgba-red-strong:after {
    background-color: rgba(0,0,0,.7);
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.sensitive-media .carousel-caption{
    color: black;
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.overlay .mask {
    opacity: 1;
}
.white-text{
	color: white;
}
.first-word {
    font-size: 1.7rem;
    font-style: italic;
}  

/* Media coverage */

.media-banner {
    background: url(../images/media-coverage.jpg) no-repeat center top / cover;
    height: 400px;
    width: 100%;
    position: relative;
}
.media-banner:before, .view.overlay:before, .sensitive-media:before {
    background: rgba(0,0,0,.4);
    content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
}
/*.rgba-black-strong, .rgba-black-strong:after {
    
}*/
.media-text{
    background: rgba(232, 26, 37 , 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
        font-size: 1.5rem;
    letter-spacing: 2px;
}
.btn-media{
    position: absolute;
    z-index: 9;
    right: 0;
}
.btn-media a {
    color: white !important;
}

.blog-title {
    background: rgba(255, 255, 255 , 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
}
.blog-section .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.blog-section .icon {
    padding: 10px;
    background: #E81A25;
    color: white;
    min-width: 50px;
    text-align: center;
}

.blog-section .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.blog-section .input-field:focus {
    border: 2px solid dodgerblue;
}
.scr-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
form.scr-form p {
    font-size: 1.8rem;
    color: white;
}


/* Sensitive Media */

.sensitive-media{
    background: url(../images/media.jpg) no-repeat center center / cover;
    height: 450px;
    position: relative;
}
.sensitive-media .section-heading{
    color: white;
}
.sensitive-media .carousel-caption{
    bottom: 0;
    top: 0;
}
/*$font-primary: #3d3d3d;*/
.card {
    margin: 0 auto;
}
.sensitive-media .small, .sensitive-media small {
    font-size: 90%;
    }
.card .carousel-item {
    height: 210px;
    min-height: 210px;
}
.carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
}
/*.carousel-caption h3 {
  color: $font-primary;
}*/
.carousel-caption p {
  line-height: 30px;
}
.carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.carousel-caption .col-sm-9 {
  text-align: left;
}
/*.carousel-control-prev, .carousel-control-next {
    color: $font-primary!important;
    opacity: 1!important;
}*/
.sensitive-media .carousel-arrows {
    width: fit-content;
    margin-bottom: 32px;
}
.sensitive-media .carousel-control-next, .carousel-control-prev {
    position: relative;
}
.sensitive-media .carousel-control-prev-icon{
    background: url(../images/arrow-left.png) no-repeat center center / cover;
}
.sensitive-media .carousel-control-next-icon{
     background: url(../images/arrow-right.png) no-repeat center center / cover;
}
.sensitive-media .carousel-control-prev, .sensitive-media .carousel-control-next{
    float: left;
    width: 30px;
} 



/*  */

footer a{
    color: white;
    font-size: 0.9rem; 
}
footer a:hover{
    color: #bfbfbf;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
li.list-inline-item {
    color: #bfbfbf;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529;
        text-align: center;
}
ul.social-buttons li a.tw:hover{
    background-color: #26A6D1;
}
ul.social-buttons li a.fb:hover{
    background-color: #3B5998;
}
ul.social-buttons li a.youtube:hover{
    background-color: #D42428;
}