<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT imageCarouselForm ANY>
<!ATTLIST imageCarouselForm id ID #REQUIRED>
<!ELEMENT imageCarouselList ANY>
<!ATTLIST imageCarouselList id ID #REQUIRED>
<!ELEMENT currentProject ANY>
<!ATTLIST currentProject id ID #REQUIRED>
<!ELEMENT currentProjectList ANY>
<!ATTLIST currentProjectList id ID #REQUIRED>
<!ELEMENT projectCarouselForm ANY>
<!ATTLIST projectCarouselForm id ID #REQUIRED>
<!ELEMENT projectCarouselList ANY>
<!ATTLIST projectCarouselList id ID #REQUIRED>
]>
<root id="-1">
  <home id="1184" key="1fb1ce93-38aa-4339-922f-e69f4afa71a9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-22T14:05:59" updateDate="2018-08-27T12:23:43" nodeName="Home" urlName="home" path="-1,1184" isDoc="" nodeType="1168" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="home" isPublished="true">
    <imageCarouselList id="1199" key="723b9dce-c2cc-4585-b14e-2aed9e7648da" parentID="1184" level="2" creatorID="0" sortOrder="0" createDate="2018-08-22T14:18:26" updateDate="2018-08-22T15:39:51" nodeName="ImageCarousel" urlName="imagecarousel" path="-1,1184,1199" isDoc="" nodeType="1198" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselList" isPublished="true">
      <imageCarouselForm id="1200" key="745d2bca-a00b-40ab-9cea-2daff89f0a46" parentID="1199" level="3" creatorID="0" sortOrder="0" createDate="2018-08-22T14:19:16" updateDate="2018-08-22T14:19:16" nodeName="Banner1" urlName="banner1" path="-1,1184,1199,1200" isDoc="" nodeType="1193" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselForm" isPublished="true">
        <bannerDescription><![CDATA[Support to stop Gender inequality, discrimination and violence.]]></bannerDescription>
        <bannerImage><![CDATA[umb://media/d8276a93d37a4dacba7ba83cb4f0c462]]></bannerImage>
        <bannerTitle><![CDATA[WE are after all,the ‘Laadlis’ of the society.]]></bannerTitle>
      </imageCarouselForm>
      <imageCarouselForm id="1201" key="be493072-2d4c-4515-b6b6-035e4b538847" parentID="1199" level="3" creatorID="0" sortOrder="1" createDate="2018-08-22T14:19:45" updateDate="2018-08-22T14:19:45" nodeName="Banner2" urlName="banner2" path="-1,1184,1199,1201" isDoc="" nodeType="1193" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselForm" isPublished="true">
        <bannerDescription><![CDATA[Support to stop Gender inequality, discrimination and violence.]]></bannerDescription>
        <bannerImage><![CDATA[umb://media/9a7e195cc12d42d9b9d1402cb242979e]]></bannerImage>
        <bannerTitle><![CDATA[WE are after all,the ‘Laadlis’ of the society.]]></bannerTitle>
      </imageCarouselForm>
    </imageCarouselList>
    <currentProjectList id="1212" key="26713d71-c4bd-4f5f-8f76-e91451969573" parentID="1184" level="2" creatorID="0" sortOrder="1" createDate="2018-08-27T12:22:30" updateDate="2018-08-27T12:57:40" nodeName="CurrentProject" urlName="currentproject" path="-1,1184,1212" isDoc="" nodeType="1211" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="currentProjectList" isPublished="true">
      <currentProject id="1213" key="f16988bb-1d80-4dc5-be90-415996a727e0" parentID="1212" level="3" creatorID="0" sortOrder="0" createDate="2018-08-27T12:23:04" updateDate="2018-08-27T12:24:05" nodeName="Laadlis" urlName="laadlis" path="-1,1184,1212,1213" isDoc="" nodeType="1208" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="currentProject" isPublished="true">
        <sectionhref><![CDATA[home]]></sectionhref>
        <sectionName><![CDATA[Laadlis]]></sectionName>
      </currentProject>
      <currentProject id="1214" key="348b007f-49a4-4b6a-8cbc-4c408f137f0c" parentID="1212" level="3" creatorID="0" sortOrder="1" createDate="2018-08-27T12:23:18" updateDate="2018-08-27T12:24:09" nodeName="Amchi" urlName="amchi" path="-1,1184,1212,1214" isDoc="" nodeType="1208" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="currentProject" isPublished="true">
        <sectionhref><![CDATA[menu1]]></sectionhref>
        <sectionName><![CDATA[Amchi]]></sectionName>
      </currentProject>
    </currentProjectList>
    <projectCarouselList id="1238" key="3d00e289-fccd-498f-a718-462f48174e0c" parentID="1184" level="2" creatorID="0" sortOrder="2" createDate="2018-08-27T14:27:53" updateDate="2018-08-27T14:28:59" nodeName="ProjectCarousel" urlName="projectcarousel" path="-1,1184,1238" isDoc="" nodeType="1221" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="projectCarouselList" isPublished="true">
      <projectCarouselForm id="1239" key="24f7ce22-7349-4450-8f9b-c4c5310673e8" parentID="1238" level="3" creatorID="0" sortOrder="0" createDate="2018-08-27T14:28:15" updateDate="2018-08-29T17:00:52" nodeName="First" urlName="first" path="-1,1184,1238,1239" isDoc="" nodeType="1216" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="projectCarouselForm" isPublished="true">
        <dateEntries>2018-08-27T00:00:00</dateEntries>
        <projectImage><![CDATA[umb://media/a86d00858698449c945fe74883615b18]]></projectImage>
        <projectName><![CDATA[Laadlis]]></projectName>
        <projectImageDescription><![CDATA[2nd Edition South Asia Laadli Media & Advertising Awards for Gender Sentivity]]></projectImageDescription>
        <projectImageTitle><![CDATA[First]]></projectImageTitle>
      </projectCarouselForm>
      <projectCarouselForm id="1240" key="8b051ac2-5904-41af-9bbe-823b1c2ddca0" parentID="1238" level="3" creatorID="0" sortOrder="1" createDate="2018-08-27T14:28:41" updateDate="2018-08-29T17:00:59" nodeName="Second" urlName="second" path="-1,1184,1238,1240" isDoc="" nodeType="1216" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="projectCarouselForm" isPublished="true">
        <dateEntries>2018-08-01T00:00:00</dateEntries>
        <projectImage><![CDATA[umb://media/571a94a62a564f21bc3bf3467f4f26fd]]></projectImage>
        <projectName><![CDATA[Laadlis]]></projectName>
        <projectImageDescription><![CDATA[2nd Edition South Asia Laadli Media & Advertising Awards for Gender Sentivity]]></projectImageDescription>
        <projectImageTitle><![CDATA[Second]]></projectImageTitle>
      </projectCarouselForm>
      <projectCarouselForm id="1244" key="45c7969e-51e9-43ec-a552-455caf00c6ed" parentID="1238" level="3" creatorID="0" sortOrder="2" createDate="2018-08-28T15:02:05" updateDate="2018-08-28T15:02:10" nodeName="Third" urlName="third" path="-1,1184,1238,1244" isDoc="" nodeType="1216" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="projectCarouselForm" isPublished="true">
        <dateEntries>2018-08-16T00:00:00</dateEntries>
        <projectImage><![CDATA[umb://media/060c9333ee7241948a1919e48c72cff8]]></projectImage>
        <projectName><![CDATA[Amchi]]></projectName>
        <projectImageDescription><![CDATA[Third]]></projectImageDescription>
        <projectImageTitle><![CDATA[Third]]></projectImageTitle>
      </projectCarouselForm>
      <projectCarouselForm id="1245" key="8070be71-4668-4965-84d6-f808fa7a2b8b" parentID="1238" level="3" creatorID="0" sortOrder="3" createDate="2018-08-28T15:02:40" updateDate="2018-08-28T15:02:44" nodeName="Fourth" urlName="fourth" path="-1,1184,1238,1245" isDoc="" nodeType="1216" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="projectCarouselForm" isPublished="true">
        <dateEntries>2018-08-23T00:00:00</dateEntries>
        <projectImage><![CDATA[umb://media/d42674b90e234907ad1467476311af29]]></projectImage>
        <projectName><![CDATA[Amchi]]></projectName>
        <projectImageDescription><![CDATA[Fourth]]></projectImageDescription>
        <projectImageTitle><![CDATA[Fourth]]></projectImageTitle>
      </projectCarouselForm>
    </projectCarouselList>
  </home>
</root>