<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT imageCarouselForm ANY>
<!ATTLIST imageCarouselForm id ID #REQUIRED>
<!ELEMENT imageCarouselList ANY>
<!ATTLIST imageCarouselList id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1184" key="1fb1ce93-38aa-4339-922f-e69f4afa71a9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-22T14:05:59" updateDate="2018-08-22T14:28:57" nodeName="Home" urlName="home" path="-1,1184" isDoc="" nodeType="1168" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="home" isPublished="true">
    <imageCarouselList id="1199" key="723b9dce-c2cc-4585-b14e-2aed9e7648da" parentID="1184" level="2" creatorID="0" sortOrder="0" createDate="2018-08-22T14:18:26" updateDate="2018-08-22T15:39:51" nodeName="ImageCarousel" urlName="imagecarousel" path="-1,1184,1199" isDoc="" nodeType="1198" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselList" isPublished="false">
      <imageCarouselForm id="1200" key="745d2bca-a00b-40ab-9cea-2daff89f0a46" parentID="1199" level="3" creatorID="0" sortOrder="0" createDate="2018-08-22T14:19:16" updateDate="2018-08-22T14:19:16" nodeName="Banner1" urlName="banner1" path="-1,1184,1199,1200" isDoc="" nodeType="1193" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselForm" isPublished="true">
        <bannerDescription><![CDATA[Support to stop Gender inequality, discrimination and violence.]]></bannerDescription>
        <bannerImage><![CDATA[umb://media/d8276a93d37a4dacba7ba83cb4f0c462]]></bannerImage>
        <bannerTitle><![CDATA[WE are after all,the ‘Laadlis’ of the society.]]></bannerTitle>
      </imageCarouselForm>
      <imageCarouselForm id="1201" key="be493072-2d4c-4515-b6b6-035e4b538847" parentID="1199" level="3" creatorID="0" sortOrder="1" createDate="2018-08-22T14:19:45" updateDate="2018-08-22T14:19:45" nodeName="Banner2" urlName="banner2" path="-1,1184,1199,1201" isDoc="" nodeType="1193" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselForm" isPublished="true">
        <bannerDescription><![CDATA[Support to stop Gender inequality, discrimination and violence.]]></bannerDescription>
        <bannerImage><![CDATA[umb://media/9a7e195cc12d42d9b9d1402cb242979e]]></bannerImage>
        <bannerTitle><![CDATA[WE are after all,the ‘Laadlis’ of the society.]]></bannerTitle>
      </imageCarouselForm>
      <imageCarouselForm id="1203" key="f6dab8ed-50bc-44c9-b4af-6f366a3a7fa1" parentID="1199" level="3" creatorID="0" sortOrder="2" createDate="2018-08-22T15:39:25" updateDate="2018-08-22T15:39:27" nodeName="Banner3" urlName="banner3" path="-1,1184,1199,1203" isDoc="" nodeType="1193" creatorName="Ajit" writerName="Ajit" writerID="0" template="1167" nodeTypeAlias="imageCarouselForm" isPublished="true">
        <bannerDescription><![CDATA[Support to stop Gender inequality, discrimination and violence.]]></bannerDescription>
        <bannerImage><![CDATA[umb://media/571a94a62a564f21bc3bf3467f4f26fd]]></bannerImage>
        <bannerTitle><![CDATA[WE are after all,the ‘Laadlis’ of the society.]]></bannerTitle>
      </imageCarouselForm>
    </imageCarouselList>
  </home>
</root>